$color-cda45e:#cda45e;
$black:#000;
$white:#fff;
$color-1a1814:#1a1814;
$color-aaa:#aaaaaa;
$color-625b4b:#625b4b;
$color-d3af71:#d3af71;
$color-454035:#454035;
$color-0c0b09:#0c0b09;
$color-28251f:#28251f;
$color-4444:#444444;
$color_bab3a6:#bab3a6;