$padding:10px;
$padding-md:12px;
$padding1:14px;
$padding2:20px;
$padding3:25px;
$padding4:30px;
$padding5:35px;
$padding6:50px;
$padding7:60px;
$padding8:80px;
$padding9:7rem;

$margin:10px;
$margin1:14px;
$margin2:20px;
$margin3:25px;
$margin4:30px;
$margin5:35px;
$margin6:40px;
$margin7:60px;
$margin8:80px;
$margin9:7rem;

$fontsm:14px;
$fontsm1:15px;
$font:16px;
$font1:18px;
$font2:20px;
$font3:24px;
$font4:28px;
$font5:30px;
$font6:32px;
$font7:36px;
$font8:38px;
$font9:40px;
$font10:80px;