@import "var";
@import "color";
@import "mixin";

// @font-face {
//     font-family: 'opensans';
//     src: url('../assets/font/opensans-regular.woff') format('woff'),
//         url('../assets/font/opensans-regular.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'poppins';
//     src: url('../assets/font/poppins-regular.woff') format('woff'),
//         url('../assets/font/poppins-regular.woff2') format('woff2');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'playfairdisplay';
    src: url('../font/playfairdisplay-regular.woff') format('woff'),
        url('../font/playfairdisplay-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $white;
    font-family: 'opensans', sans-serif;
}

// main-class
.fnt-italic {
    font-style: italic !important;
    font-size: $font;
}

.text-over {
    p {
        position: relative;
        text-transform: uppercase;
        font-size: $fontsm;
        font-weight: 500;
        line-height: 1px;
        margin: 0 0 5px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #aaaaaa;

        &::after {
            position: absolute;
            content: '';
            width: 120px;
            height: 1px;
            margin: 0px $margin;
            background: rgba(255, 255, 255, 0.2);
        }
    }

    h3 {
        font-family: 'playfairdisplay';
        font-size: $font7;
        font-weight: 900;
        z-index: 999;
        padding: $padding 0 $padding2 0;
        color: $color-cda45e;
    }
}

.text-color {
    color: $color-aaa;
}

// main-class end
.pfixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.header {
    background: $black;
    border-bottom: 1px solid rgba(12, 11, 9, 0.6);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;

    .navbar-items {
        ul {
            @include flex;
            list-style: none;

            li {
                position: relative;
                padding-top: $padding1;
                padding-bottom: 5px;

                ul {
                    position: absolute;
                    width: 230px;
                    margin: 7px 0;
                    background-color: $white;
                    display: none;
                    z-index: 99;
                    padding: 0;
                    border-radius: 15px;

                    li {
                        padding: $padding1 0;
                        position: relative;

                        a {
                            color: $color-4444;

                        }
                    }
                }

                &:hover>ul {
                    display: block;
                }

                &:first-child a {
                    color: $color-cda45e !important;
                }

                a {
                    @include a-list;
                    @include text-decoration;

                    &:hover {
                        color: $color-cda45e
                    }
                }
            }
        }

        // dropdown-2
        .dropdown {
            li {
                font-size: 7px !important;
            }

            .dropdown {
                i {
                    margin-right: $margin1;
                }

                ul {
                    left: 226px;
                    top: 0px;

                }
            }
        }
    }

    .header-wrapper {
        h2 {
            @include heading-into;

            a {
                color: $white;
                @include text-decoration;
            }
        }
    }

}

.Book-a-table {
    @include book-a-table-btn;
    @include text-decoration;

    &:hover {
        background-color: $color-cda45e !important;
        color: $white;
    }
}

.banner-background {
    background-image: url(../banner/hero-bg.jpg);
    @include background;
    width: 100%;
    position: relative;
    height: 100Vh;

    &::before {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .main-heading {
        padding-top: $padding9;
        z-index: 99;

        h1 {
            font-size: $font9;
            @include heading-font;
            font-family: 'poppins' sans-serif;
            color: rgb(245, 241, 241);

            span {
                color: $color-cda45e;
            }
        }

        p {
            color: #eee;
            font-size: 22px
        }

        .page-btns {
            margin: 30px 0;
        }
    }
}


.about {
    background-image: url(../banner/about-bg.jpg);
    @include background;
    width: 100%;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        left: 0;
        right: 0;
    }

    .about-row {
        padding: $padding7 0;

        .row-content {
            z-index: 99;

            h3 {
                font-size: $font3;
                font-size: 600;
            }

            ul {
                padding: 0px;

                li {
                    list-style: none;
                    font-size: 17px;
                    display: block;
                    color: red($color: #000000);
                    margin-bottom: $margin;

                    .fa {
                        border: 1px solid $color-cda45e;
                        padding: 3px;
                        margin-right: 5px;
                        border-radius: 50%;
                    }
                }
            }

            p {
                padding-top: $padding1;
                font-size: 16px;
            }
        }

        .table-holl-image {
            position: relative;
            transition: all ease-in-out 1s;

            img {
                border: 4px solid rgba(255, 255, 255, 0.2);
            }

            &::before {
                content: '';
                left: 30px;
                position: absolute;
                top: 20px;
                width: 60px;
                height: 60px;
                z-index: 999;
                border-left: 5px solid #cda45e !important;
                border-top: 5px solid #cda45e;
                transition: .5s;
            }

            &::after {
                content: '';
                bottom: 20px;
                right: 30px;
                position: absolute;
                width: 60px;
                height: 60px;
                z-index: 999;
                border-right: 5px solid #cda45e !important;
                border-bottom: 5px solid #cda45e;
                transition: .5s;
            }

            &:hover {
                transform: scale(1.04);
            }
        }
    }
}

.our-restaurant-section {
    background-color: $black;
    padding: $padding6 0;

    .row {
        .col-lg-4 {

            // width: 33.3333%;
            .our-restaurant-cards {
                background-color: $color-1a1814;
                padding: $padding6 $padding4;
                transition: all 1s;

                &:hover {
                    background-color: $color-cda45e;
                    color: $white !important;
                    padding: 30px 30px 70px 30px;

                    p {
                        color: #fff;
                    }
                }

                span {
                    color: $color-cda45e;
                    font-size: $font4;
                    font-weight: 700;
                }

                h4 {
                    color: rgba(255, 255, 255, 0.8);
                    margin: $margin2 0;
                    font-size: $font3;
                    font-weight: 700;
                }

                p {
                    font-size: $fontsm1;
                    color: $color-aaa;
                }
            }
        }
    }
}

.menu {
    background-color: $color-1a1814;
    padding: $padding7 0;

    .menu-list {
        list-style: none;
        text-align: center;

        li {
            display: inline-block;
            font-family: 'playfairdisplay';
            font-weight: 500;
            padding: 8px 12px 10px 12px;
            margin-bottom: $margin;

            &:first-child {
                color: $color-cda45e;
            }

            &:hover {
                color: $color-cda45e;
                transition: .5s;
            }
        }
    }


}

.menu-bar {
    margin-top: $margin6 !important;

    .menu-items {
        display: flex;
        flex-direction: column;

        a {
            @include text-decoration;
            color: $white;

        }

        span {
            color: $color-cda45e;
            position: relative;
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                border: 1px dotted rgb(186, 179, 166);
                top: 10px;
                left: 3rem;
                right: 20px;
                // max-width: 400px;
                width: 100%;
            }
        }
    }

    .about-menu-items {
        color: #aaaaaa;
        font-style: italic;
        font-size: $fontsm;
    }
}

.image-menu {
    width: 70px;
    float: left;
    margin-right: $margin;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.2);
}

.special {
    background-color: $black;
    padding: $padding7 0;

    .tab{
        display: none;
    }
    .active{
        display: block;
    }

    .items-bar {
        padding: $padding1;
    }

    .special-navlist {
        list-style: none;
        border-right: 2px solid $color-cda45e;

        li {
            padding: $padding-md;
            font-weight: 600;


            a {
                font-size: $fontsm1;
                color: $white;
                @include text-decoration;

                &:hover {
                    color: $color-cda45e;
                }
            }
        }
        .tab1{
            background-color: $color-cda45e;
        }
    }

    .image-card {
        width: 100%;
    }
}

.event {
    background-image: url(../banner/events-bg.jpg);
    @include background;
    padding: $padding7 0;
    position: relative;

    &::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.7) !important;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .event-content {
        padding-bottom: $padding4;
        z-index: 1;
        position: relative;
    }

    .bx-wrapper {
        box-shadow: none !important;
        border: none !important;
        background: transparent !important;
        margin-bottom: 0px !important;

        .bx-pager {
            width: 100% !important;
            text-align: center !important;

            a {
                background-color: rgba(255, 255, 255, 0.4) !important;

                &:focus {
                    background-color: $color-cda45e !important;
                }
            }
        }

        .bx-controls-direction {
            display: none !important;
        }

        .bx-controls-auto {
            display: none;
        }
    }

    .content {
        h3 {
            color: $color-cda45e;
        }

        p {
            span {
                border-bottom: 2px solid $color-cda45e;
                font-size: $font5;
                font-weight: bold;
                margin: $margin 0;
            }
        }

        ul {
            list-style: none;
            padding-left: 0;

            li {
                padding-bottom: $padding;
            }
        }
    }
}

.book-a-table-section {
    background-color: $black;
    padding: $padding7 0;

    .form-var {
        padding-top: $padding4 ;

        .content-form {
            width: 100%;
            background-color: transparent;
            outline: none;
            border: 1px solid $color-625b4b;
            padding: $padding;

            &:focus {
                outline: 1px solid $color-cda45e;
            }
        }
    }

    .row-textarea {
        padding-top: $padding4;

        .text-blank {
            width: 100%;
            background-color: transparent;
            outline: none;
            border: 1px solid $color-625b4b;
            padding: $padding;

            &:focus {
                outline: 1px solid $color-cda45e;
            }
        }

    }

    .book-a-table-btn {
        text-align: center;
        margin-top: $margin4;

        .input-btn {
            padding: $padding1 $padding3;
            background-color: $color-cda45e;
            color: $white;
            cursor: pointer;

            &:hover {
                background-color: $color-d3af71!important ;
            }
        }
    }

}

.gallery-section {
    background-color: $black;
    padding: $padding7 0;

    .gallery-row {
        padding-top: $padding4;
    }

    .gallery-image-card {
        border-right: 3px solid $color-454035;
        border-bottom: 3px solid $color-454035;
        overflow: hidden;

        &:hover img {
            transform: scale(1.1);
        }

        img {
            transition: all ease-in-out 0.4s;
        }
    }

}

// chefs-section start
.chefs-section {
    background-color: $black;
    padding: $padding7 0;

    .chef-row {
        padding-top: $padding4;
    }
}

.contect-section {
    background-color: $black;
    padding: $padding7 0;

    .map-iframe {
        iframe {
            width: 100%;
            height: 350px;
            z-index: 999;
        }

    }

    .log-info {
        padding-top: $padding4;

        i {
            width: 44px;
            margin-top: 5px;
            @include flex-center;
            height: 44px;
            background: $color-cda45e;
            border-radius: 50px;
        }

        .icon-space {
            padding-bottom: $padding6;

            .icon-content {
                padding-left: $padding;

                p {
                    color: $color_bab3a6;
                    font-size: $fontsm1;
                }
            }
        }
    }
}

// chefs-section start
// footer part start
.footer {
    background-color: $black;

    .top-footer-items {
        background-color: $color-0c0b09;
        border-top: 1px solid #37332a;
        border-bottom: 1px solid #28251f;
        padding: 60px 0 30px 0;

        .footer-items-info {
            h3 {
                font-size: $font3;
                font-family: 'poppins' serif !important;
                font-weight: 300;
                text-transform: uppercase;
                margin-bottom: $margin2;
            }

            p {
                font-family: 'playfairdisplay' serif;
                font-size: $fontsm1;
                color: $white;
                line-height: $font3;

                .bold {
                    font-weight: 900;
                }
            }

            .footer-social-links {
                a {
                    font-size: 18px;
                    background: $color-28251f;
                    color: $white;
                    @include text-decoration;
                    padding: 8px 0;
                    margin-right: $margin;
                    border-radius: 50%;
                    @include flex-center;
                    width: 36px;
                    height: 36px;
                    transition: 0.3s;

                    &:hover {
                        background-color: $color-cda45e;
                    }
                }
            }
        }

        .footer-links {
            h4 {
                font-size: $font1;
                padding-bottom: $padding-md ;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    padding: $padding 0;

                    i {
                        font-size: 12px;
                        padding-right: 7px;
                        color: $color-cda45e
                    }

                    a {
                        @include text-decoration;
                        color: $white;
                    }
                }
            }
        }

        .footer-input {
            form {
                margin-top: $margin4;
                background-color: $color-28251f;
                padding: $padding;
                border-radius: 50px;
                border: 1px solid $color-454035;
                position: relative;

                .email {
                    width: calc(100% - 130px);
                    padding: 6px;
                    background-color: $color-28251f ;
                    outline: none;
                    border: none;
                }

                .input-btn {
                    position: absolute;
                    top: -1px;
                    right: -1px;
                    bottom: -1px;
                    border-radius: 50px;
                    background-color: $color-cda45e;
                    padding: 0 $padding3 2px $padding3;
                }
            }
        }
    }

    .copy-right {
        padding: $padding4 0;
        font-size: $font2;

        .credits {
            a {
                @include text-decoration;
                color: $color-cda45e;
            }
        }
    }
}

// loader-wrapper
.loader-wrapper {
    background-color: rgba(0 ,0, 0, 1);
    width: 100%;
    display: none;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .password-login {
        position: absolute;
        padding: 15px;
        transform: translate(-50%,-50%);
        width: 500px;
        color: #cda45e;
        border-radius: 10px;
        top: 50%;
        background-color: #fff;
        left: 50%;
        .input-show-box{
            width: 100%;
            background-color: #fff;
            border: 1px solid #000;
            margin-bottom: 10px;
            input{
                border: none;
                width: 90%;
                outline: none;
                font-size: 20px;
                padding: 20px 10px;
                color: #000;
                &::placeholder{
                    color: #000;
                }
            }
            img{
                text-align: right;
                width: 30px;
                height: 30px;
            }
            #eyeopen{
                display: none;
            }
        }
       
        button{
            width: 100%;
            font-size: 22px;
            padding: 10px;
            text-transform: capitalize;
            border: 1px solid #cda45e;
            background-color: #cda45e;
        }
    }
}


.popup-wrapper {
    background-color: #000000;
    opacity: .9;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;

    .popup-ui {
        position: absolute;
        max-width: 700px;
        background-color: rgb(113, 168, 190);
        transform: translate(-50%, -50%);
        width: 100%;
        top: 50%;
        left: 50%;
        margin: 0 auto;
        box-shadow: 1px 1px 6px #fff;

        h1 {
            font-size: 45px;
            font-weight: 700;
            text-transform: capitalize;
        }

        img {
            height: 100%;
        }

        input {
            width: 90%;
            outline: none;
            border: 1px solid #0000;
            margin-top: 15px;
            line-height: 3rem;
            color: black;
            text-transform: capitalize;
            font-size: 16px;
            padding: 0 5px;
        }

        .book-btn {
            width: 50%;
            margin: 30px 0 10px;
            background-color: #000;
            color: #fff;
            padding: 5px;
            text-transform: uppercase;
            font-size: 20px;
        }

        i {
            position: absolute;
            top: -10px;
            right: -5px;
            font-size: 30px;
        }
    }
}





// RWD PART START
@media screen and (min-width:1028px) {
    .about {
        background-attachment: fixed;
    }

    .banner-background {
        background-attachment: fixed;
    }

    .event {
        background-attachment: fixed;
    }
}

@media screen and (max-width:992px) {
    .table-btn {
        display: none;
    }

    .navbar-items {
        display: none;
        background-color: #fff;
        // margin-top: 70px;
        width: 100%;
        color: $black;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .nav-content {
        display: flex;
        flex-direction: column;
        align-items: start !important;
    }

    .nav-content a {
        color: $black !important;
        font-size: 22px !important;
    }

    .chef-image {
        padding-top: 20px;
    }

    .footer-links {
        padding-top: 30px !important;
    }

    // .header-wrapper {
    //     // position: relative;
    // }

    .navbar-items {
        position: absolute;
        top: 55px;
        left: 0;
        // right: -20px;
        width: 100%;
        z-index: 999;
    }
}

@media screen and (min-width:992px) {
    .nav-click {
        display: none;
    }
}

@media screen and (max-width:768px) {}